.collection-header {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;

  margin: 16px 0;
}

.collection-image-wrapper {
  background-color: var(--nft-background-color);
  border: 1px solid var(--standard-border-color);
  border-radius: 2px;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 0;
  aspect-ratio: 1;

  max-height: 100px;
  max-width: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-image {
  max-height: 100px;
  max-width: 100px;
  vertical-align: top;
}

.collection-core {
  display: flex;
  flex-direction: column;
  grid-gap: 4px;
}

.collection-core-address {
  opacity: 0.5;
}

.collection-info {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px 40px;

  margin: 12px 0 20px 0;
}

.collection-info-group {
  display: flex;
  flex-direction: column;
  grid-gap: 6px;
}

.collection-info-group-key {
  opacity: 0.5;
  font-size: 11px;
}

.collection-info-group-value {
  font-size: 16px;
}
