/**
 * Axiom
 */

:root {
  overflow-y: scroll;
}

html body {
  margin-right: 0 !important;
}

html,
body {
  min-height: 100vh;
}

.root-content,
.page,
.display {
  min-height: calc(100vh - 47px);
}

html,
body {
  padding: 0;
  margin: 0;

  color: var(--color);
  font-family: 'ABC Diatype Mono Unlicensed Trial', 'SF Mono', -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-feature-settings: 'zero' on, 'calt' off;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:focus {
  outline: 0;
}

* {
  box-sizing: border-box;
}

/**
 * Fundamentals
 */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pad-1x {
  padding: 8px;
}

.pad-2x {
  padding: 16px;
}

/**
 * Button
 */

.button {
  background: transparent;
  border: 1px solid var(--button-border-color);
  border-radius: 2px;
  padding: 8px 12px;

  display: flex;
  align-items: center;
  grid-gap: 8px;

  font-family: 'ABC Diatype Mono Unlicensed Trial', 'SF Mono', -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-feature-settings: 'zero' on, 'calt' off;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  cursor: pointer;
}

.button span {
  padding-top: 1px;
}

.button:hover {
  background: var(--button-background-color-hover);
}

.button:focus {
  border-color: var(--button-border-color-focus);
}

.button:active {
  border-color: var(--button-border-color-active);
}

.button.button--text {
  background: transparent;
  border: 0;
  padding: 0;
  opacity: 0.5;

  font-size: 11px;
}

.button.button--text:hover {
  opacity: 1;
}

.button.button--filled {
  background-color: var(--standard-fill-color);
}

.button.button--filled:hover {
  background-color: var(--standard-filled-fill-color);
}

.button.button--fullscreen {
  background-color: var(--standard-fill-color);
  width: 100%;
}

/**
 * Input
 */

.input {
  background: transparent;
  border: 1px solid var(--input-border-color);
  border-radius: 2px;
  padding: 8px 12px;

  font-family: 'ABC Diatype Mono Unlicensed Trial', 'SF Mono', -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-feature-settings: 'zero' on, 'calt' off;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input:focus {
  border-color: var(--input-border-color-focus);
}

.input--empty {
  border: 0;
  border-radius: 0;
}

/**
 * Image
 */

.img {
  max-height: 100%;
  max-width: 100%;
}

.img--fallback {
  max-height: 100%;
  max-width: 100%;

  padding: 2px;
  opacity: 0.75;
}

/**
 * Modal
 */

.modal-content {
  /* box-shadow: 0px 4px 32px 32px rgba(0, 0, 0, 0.5); */
}

.modal-body {
  border-radius: 2px;
  padding: 20px;

  backdrop-filter: blur(20px) saturate(190%) contrast(70%) brightness(80%);
  background-color: rgba(0, 0, 0, 0.65);
  /* background-color: rgba(29, 30, 43, 0.498); */
}
