/**
 * Page
 */

.root-content {
}

.page {
  margin: 0 auto;
  /* max-width: 1440px; */
}

.page.page--dual {
  display: flex;
  height: 100%;
  width: 100%;
}

.pad {
  padding: 0 16px;
}

/**
 * Layout
 */

.main {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  flex-grow: 1;

  min-width: 0;
}

.side {
  flex-basis: min(30%, 500px);
  padding: 20px;
  border-left: 1px solid var(--standard-border-color);

  max-height: calc(100vh - 44px);
  overflow-y: auto;
}

.side-group {
  margin-top: 0.75rem;
}

.side-group.side-group--no-margin {
  margin-top: 6px;
}

.side-group-key {
  font-size: 11px;
  opacity: 0.5;
  margin-bottom: 1px;
}

.side-group-key.side-group-key--tokens {
  margin-bottom: 8px;
}

.side-group-value {}

.divider.divider--side {
  margin: 1rem 0;
}

.divider.divider--grid {
  grid-column: 1 / -1;
}

/**
 * Header
 */

.header {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  margin: 16px;
}

/**
 * Grid
 */

.head {
  padding: 13px 20px;
  z-index: 10;
}

.cell {
  padding: 10px 20px;
}

.cell--end {
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
}

/**
 * Navigation bar
 */

.navigation-bar {
  background-color: var(--navigation-bar-background-color);
  border-bottom: 1px solid var(--standard-border-color);

  height: 44px;

  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  grid-gap: 6px;
}

.navigation-bar-grid {
  /* display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  
  align-items: flex-start;

  padding: 5px 16px 0; */
}

.navigation-bar-left {
  display: flex;
  align-items: center;
  grid-gap: 10px;

  padding-top: 7px;
}

.navigation-bar-middleware {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 6px 0 12px;
}

.navigation-bar-search {
  background-color: var(--background-color);
  border: 1px solid var(--standard-border-color);
  border-radius: 2px;

  max-width: 568px;
  flex: 1;

  position: relative;
}

.navigation-bar-search-input {
  width: 100%;
}

.navigation-bar-search-dropdown {
  width: 100%;
}

.navigation-bar-right {
  display: flex;
  justify-self: flex-end;
  grid-gap: 6px;
}

.theme-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 8px;
  aspect-ratio: 1;
  width: 34px;
}

/**
 * Search
 */

.search-results {
  display: flex;
  flex-direction: column;
  grid-gap: 4px;

  margin-bottom: 6px;
}

.search-results-title {
  opacity: 0.5;
  margin-bottom: 4px;
  padding: 12px 0 0 12px;
}

.search-result {
  display: flex;
  align-items: center;
  border-radius: 2px;

  margin: 0 6px;
  padding: 6px;
  grid-gap: 10px;
}

.search-result.active {
  background-color: var(--standard-fill-color);
}

.search-result:hover {
  background-color: var(--standard-fill-color--dark);
}

.search-result-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--standard-fill-color);
  border: 1px solid var(--standard-border-color);
  border-radius: 2px;
  overflow: hidden;

  height: 40px;
  width: 40px;
}

.search-result-image-wrapper--round {
  border-radius: 50%;
}

.search-result-image {
  max-height: 100%;
  max-width: 100%;
}

.search-result-main {
  display: flex;
  flex-direction: column;
  grid-gap: 4px;

  flex: 1;
}

.search-result-main-title {
  display: flex;
  align-items: baseline;
}

.search-result-main-title-ext {
  margin-left: 6px;
  opacity: 0.5;
}

.search-result-main-subtitle {
  opacity: 0.5;
}

.search-result-secondary {
  display: flex;
  flex-direction: column;
  grid-gap: 4px;
  text-align: right;
}

.search-result-secondary-title {
  opacity: 0.5;
}

.search-result-secondary-subtitle {
  opacity: 0.5;
}

.search-result-empty {
  padding: 6px 12px;
  opacity: 0.3;
}

/**
 * NFT
 */

.nft-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 100%;

  margin-top: 10px;
}

.nft {
  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1;
  border: 1px solid var(--standard-border-color);
  background-color: var(--standard-fill-color);

  position: relative;
}

.nft:hover {
  border-color: white;
}

.nft-info {
  display: flex;
  grid-gap: 16px;
  flex-direction: column;
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12px;
  z-index: 100;
  font-size: 11px;

  opacity: 0;
}

.nft-info:hover {
  opacity: 1;
}

.nft-name-collection {
  display: flex;
  flex-direction: column;
  grid-gap: 4px;
}

.nft-platform {
  display: flex;
  flex-direction: column;
  grid-gap: 6px;

  flex: 100000000;
  justify-content: flex-end;
}

.nft-group-title {
  opacity: 0.5;
}

.nft-platform-value {
  display: flex;
  grid-gap: 6px;
  align-items: center;
}

.nft-price {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nft-price-floor {
  text-align: left;
}

.nft-price-title {
  opacity: 0.5;
  margin-bottom: 6px;
}

.nft-price-last {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}

.nft-name {
  line-height: 1.4;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nft-collection {
  display: flex;
  align-items: center;
}

.nft-collection-icon {
  background-size: cover;
  border: 1px solid var(--standard-border-color);
  border-radius: 3px;

  min-height: 20px;
  min-width: 20px;
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.nft-collection-name {
  font-size: 11px;
  opacity: 0.5;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nft-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.nft-image {
  max-height: 100%;
  max-width: 100%;
  vertical-align: top;
}

.nft-searchbar {
  width: 100%;
}

.attributes-filter {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.attributes-filter svg {
  fill: white;
  opacity: 0.5;
}

.collection-icon {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
  box-shadow: inset 1px 0px var(--standard-border-color),
    inset 0px 1px var(--standard-border-color),
    inset -1px 0px var(--standard-border-color),
    inset 0px -1px var(--standard-border-color);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--standard-fill-color);

  min-height: 20px;
  min-width: 20px;
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.collection-icon-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 640px) {
  .nft-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .nft-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .nft-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .collection-icon-name.collection-icon-name--breadcrumb {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .nft-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .nft-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1680px) {
  .nft-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media screen and (min-width: 1920px) {
  .nft-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (min-width: 2200px) {
  .nft-grid {
    grid-template-columns: repeat(9, 1fr);
  }
}

@media screen and (min-width: 2560px) {
  .nft-grid {
    grid-template-columns: repeat(10, 1fr);
  }
}
