.metadata {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
}

.image-wrapper {
  background-color: var(--nft-background-color);
  border-radius: 100%;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 0;
  aspect-ratio: 1;

  height: 50px;
  width: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.image-wrapper::after {
  border-radius: 100%;
  box-shadow: inset 1px 0px var(--standard-border-color),
    inset 0px 1px var(--standard-border-color),
    inset -1px 0px var(--standard-border-color),
    inset 0px -1px var(--standard-border-color);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.image {
  max-height: 50px;
  max-width: 50px;
  vertical-align: top;
}

.token-chart-info-header {
  padding: 13px 16px;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
}

.tag {
  background-color: var(--standard-fill-color);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.5);
  display: inline-flex;
  align-items: center;
  grid-gap: 4px;
  font-size: 10px;
  padding: 1px 4px 0px 4px;
}

.tag.tag--large {
  font-size: 11px;
  padding: 2px 4px 1px 4px;
}

.tag svg {
  opacity: 0.8;
  stroke-width: 0.5px;
  stroke: yellow;
}

.pair-grid {
  align-items: center;
  grid-template-columns: auto 1fr auto auto;
}
