.page--display {
  justify-content: center;
}

.display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  margin: 0 auto;
  grid-gap: 40px;

  height: 100%;
  width: 1080px;
}

.nft-image {
  vertical-align: top;
}
