.showcase {
  /* display: flex;
  justify-content: center;
  align-items: center; */

  padding: 20px;

  max-height: 100%;
  max-width: 768px;
  
  /* height: 50%;
  width: 50%; */
  /* aspect-ratio: 1; */
}

.nft-image {
  vertical-align: top;
}
