.showcase {
  /* display: flex;
  justify-content: center;
  align-items: center; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;

  height: 100%;
  width: 768px;
  
  /* height: 50%;
  width: 50%; */
  /* aspect-ratio: 1; */
}

.nft-image {
  vertical-align: top;
}
