.page--display {
  justify-content: center;
}

.display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  margin: 0 auto;
  grid-gap: 40px;

  height: 100%;
  width: 1080px;
}

.display-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-label-name {
  font-size: 20px;
  font-style: italic;
}

.display-label-collection {
  opacity: 0.5;
  margin-top: 4px;
}

.display-label-description {
  margin-top: 20px;
  line-height: 1.4;
  opacity: 0.5;
}
