/**
 * Globals
 */

html,
body {
  padding: 0;
  margin: 0;

  /* background-color: #090909;
  color: rgba(255, 255, 255, 0.88); */

  font-family: 'ABC Diatype Mono Unlicensed Trial', 'SF Mono', -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-feature-settings: 'zero' on, 'calt' off;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/**
 * Fundamentals
 */

.button {
  background-color: transparent;
  border: 1px solid --button-border-color;
  border-radius: 2px;
 
  font-family: 'ABC Diatype Mono Unlicensed Trial', 'SF Mono', -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-feature-settings: 'zero' on, 'calt' off;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  padding: 8px 12px; 
}
