html {
  --background-color: white;

  background-color: var(--background-color);
}

html.dark {
  --background-colour: black;
}

.dark-component {
  color: white;
}

.light-component {
  color: black;
}
