/**
 * Themes
 */

 :root {
    --background-color: black;
    --color: rgba(255, 255, 255, 0.88);
    --color-scheme: dark;

    --standard-border-color: rgba(255, 255, 255, 0.2);
    --standard-fill-color: rgba(255, 255, 255, 0.975);

    --button-border-color: var(--standard-border-color);
    --button-border-color-focus: rgba(255, 255, 255, 0.4);
    --button-border-color-active: rgba(255, 255, 255, 0.8);
    --button-background-color-hover: rgba(255, 255, 255, 0.125);

    --input-border-color: var(--standard-border-color);
    --input-border-color-focus: rgba(255, 255, 255, 0.75);

    --navigation-bar-background-color: black;

    --nft-background-color: rgb(255 255 255 / 12.5%);
  }
  
  html {
    color-scheme: var(--color-scheme);
    background-color: var(--background-color);
    color: var(--color);
  }
  
  html.light {
    --background-color: white;
    --color: black;
    --color-scheme: light;
    --button-border-color: rgba(0, 0, 0, 0.2);
    --button-background-color-hover: rgba(0, 0, 0, 0.1);
  }
  
  html.monokai {
    --background-color: #2c292d;
    --color: #78dce8;
    --color-scheme: dark;
  }
