html {
  --background-color: black;
  --color: white;
  --color-scheme: dark;
  ----button-border-color: rgba(255, 255, 255, 0.1);

  color-scheme: var(--color-scheme);
  background-color: var(--background-color);
  color: var(--color);
}

html.light {
  --background-color: white;
  --color: black;
  --color-scheme: light;
}

html.monokai {
  --background-color: #2c292d;
  --color: #78dce8;
  --color-scheme: dark;
}
