.token-icon {
  display: flex;
  grid-gap: 10px;
  align-items: center;
}

.token-icon-img-wrapper {
  position: relative;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--standard-fill-color);

  min-height: 20px;
  min-width: 20px;
  height: 20px;
  width: 20px;

  overflow: hidden;
}

.token-icon-img-wrapper::after {
  border-radius: 100%;
  box-shadow: inset 1px 0px var(--standard-border-color),
    inset 0px 1px var(--standard-border-color),
    inset -1px 0px var(--standard-border-color),
    inset 0px -1px var(--standard-border-color);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}


.token-icon-img {
  height: 100%;
  width: 100%;
}
